version: "3.8"

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
    volumes:
      - mongo-data:/data/db

  backend:
    image: backend-docker
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      MONGO_CONN_STR: "mongodb://admin:password123@mongodb:27017"
    depends_on:
      - mongodb

volumes:
  mongo-data:
